<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds">
    <property name="log_directory" value="${application.home:-.}/logs"/>
    <property name="charset" value="UTF-8"/>
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n"/>
    <property name="log_size" value="100MB"/>
    <property name="file_name_pattern_suffix" value=".%d{yyyy-MM-dd}.%i.log.gz"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="server-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_directory}/market_analyzer${file_name_pattern_suffix}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${charset}</charset>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="server-appender"/>
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>